:root, html, body {
    padding: 0;
    margin: 0;
}

.header {
    padding: 10px;
}

.header .itemDeMenu {
    font-weight: 700;
    color: white;
    opacity: 1;
}

.tituloPag {
    margin-top: 20px;
}

.descricaoPag {
    margin-top: 10px;
    font-size: 1.2rem;
}